<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"Introduction</h2>
                <hr class="light">
                <p class="text-faded">I am a PhD student in experimental physics working in gamma-ray astronomy. I want to find the hidden dark matter between the very high-energy emitting sources of the universe. If I end up discovering some other undiscovered sources, developing or advancing some interesting analysis techniques, or explaining some of these phenomena with a physics theory, that will be a cherry on top.</p>
            </div>
        </div>
    </div>
</section>
