<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Send me an email and I will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ abhishekitkikar@gmail.com }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ abhishekabhi063 }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://orcid.org/0009-0005-5239-7905" target="_blank" rel="noopener" style="display:inline-flex; align-items:center; gap:8px; text-decoration:none; color:#A6CE39;">
              <!-- Official ORCID SVG icon -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="32" height="32" aria-hidden="true" focusable="false">
                <path fill="#A6CE39" d="M128 0C57.3 0 0 57.3 0 128s57.3 128 128 128 128-57.3 128-128S198.7 0 128 0z"/>
                <path fill="#FFF" d="M175.9 153.1c-6.4 9.4-16.6 15.1-30 15.1-18.6 0-32.2-12.8-32.2-29.9 0-18 13.7-30 33.6-30 10.4 0 18.2 3.3 23.4 7.5l4.7-9.4c-6-5.1-16.4-9.1-28.3-9.1-26.3 0-44.7 15.5-44.7 41 0 25.7 18 41.4 46.3 41.4 12.1 0 21-3.7 27.4-10.2l-5.2-9.4zM107.6 116.7c0 19.7-12.8 34.7-34.8 34.7-21.8 0-34.9-15.5-34.9-34.7 0-19.6 13.4-34.7 34.9-34.7 22 0 34.8 15.3 34.8 34.7z" />
              </svg>
              <span>0009-0005-5239-7905</span>
            </a>
        </div>
    </div>
</section>
